<section ng-if="device">
  <h1>{{device.name}}</h1>
  <img ng-src={{device.image_url}} ng-if="device.image_url" />
  <div id="device_spec" ng-if="device.specs">
    <h2>Specification</h2>
    <div class="device-spec-section" ng-repeat="section in device.specs">
      <h3>{{section.section}}</h3>
      <dl ng-if="section.properties">
        <dt ng-repeat-start="property in section.properties">{{property.property}}</dt>
        <dd ng-repeat-end>{{property.value}}</dd>
      </dl>
    </div>
  </div>
</section>

<section ng-if="error">
  <h1>Error</h1>
  <p>{{error}}</p>
  <a class="btn" ng-href="/">Proceed to search</a>
</section>