<form id="search_form" ng-submit="handleSubmit()">
  <input type="text" id="query_input" placeholder="What phone are you looking for?" autofocus="true" ng-model="query" />
  <button type="submit" id="search_button">Search</button>
</form>

<ul id="search_results">
  <li ng-repeat="result in results">
    <a class="device-thumbnail" ng-href="/device/{{result.provider}}/{{result.id}}">
      <img ng-src={{result.image_url}} alt={{result.name}} ng-if="result.image_url" />
    </a>
    <a class="device-name" ng-href="#">{{result.name}}</a>
  </li>
</ul>

<div id="no_results" ng-if="searchPerformed && results.length === 0">No results</div>
