body {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

.container {
  width: 1000px;
  margin: auto;
}

#search_form {
  width: 100%;
  text-align: center;
}

#query_input {
  width: 50%;
  font-size: 2em;
  padding: 0.2em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
}

#search_button {
  font-size: 2em;
  background-color: #2f4f4f;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

ul#search_results {
  margin: 2em 0 0 0;
  padding: 0;
}

ul#search_results li {
  list-style: none;
  display: block;
  text-align: center;
  margin-bottom: 2em;
  width: 25%;
  float: left;
}

ul#search_results li .device-thumbnail {
  display: block;
  height: 220px;
  margin-bottom: 0.5em;
  vertical-align: middle;
}

ul#search_results li .device-thumbnail img {
  max-width: 200px;
  max-height: 220px;
}

ul#search_results li a.device-name {
  display: block;
  height: 2em;
  text-decoration: none;
  color: #000;
  font-size: 1.25em;
}

#no_results {
  text-align: center;
  font-size: 2em;
}

#device_spec dl {
  padding-left: 1em;
}

#device_spec dl dt {
  display: block;
  float: left;
  font-weight: bold;
  width: 10em;
}

#device_spec dl dd {
  display: block;
  margin-left: 11em;
}

#device_spec .device-spec-section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

a.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #2f4f4f;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: pointer;
}
